@import '../../styles/variables';

.main {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.content {
  background: linear-gradient(180deg, #33383d 0%, #1c1d20 100%);
  box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.25);
  width: 50vw;
  height: 100vh;
  display: flow-root;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .MainText {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 76px;
    margin-top: 10.5%;
    margin-left: $margin-sides;
    margin-left: $margin-sides;
    width: 118px;
    height: 76px;
    color: #e0e0e0;
    @media (max-width: 375px) {
      margin-left: 10%;
      margin-top: 2%;
    }
    @media (min-width: 375px) and (max-width: 767px) {
      margin-left: 11%;
      margin-top: 2%;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      margin-left: 11%;
      margin-top: 1%;
    }
  }
  .SubText {
    width: 301px;
    height: 52px;
    left: 287px;
    top: 290px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
    margin-left: $margin-sides;
    margin-left: $margin-sides;
    color: #e0e0e0;
    @media (max-width: 375px) {
      margin-left: 11%;
      font-size: 0.9rem;
      width: 92%;
    }
    @media (min-width: 375px) and (max-width: 767px) {
      width: 80%;
      margin-left: 12%;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      margin-left: 11%;
      margin-top: 1%;
      width: 600px;
    }
  }
}

@media (max-width: 768px) {
  .content {
    width: 100vw;
  }
}

@media (max-width: 321) {
  .main {
    margin-left: 5%;
  }
}
