@import './variables';
@mixin input {
  width: 60%;
  height: 2.8rem;
  background: #26292c;
  border: 1px solid #ffffff;
  border-radius: 50px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $primary-color;
  padding-left: 2%;
  &::placeholder {
    color: #e0e0e0;
    opacity: 0.6;
  }
  @media (max-width: 375px) {
    margin-left: -15%;
    width: 95%;
  }
  @media (max-width: 768px) {
    margin-left: -15%;
    width: 95%;
  }
  // min 1000 and max 12025px
  @media (min-width: 1000px) and (max-width: 1025px) {
    margin-left: -15%;
    width: 89%;
  }
}

@mixin animationSpan {
  animation: afadeIn 0.5s ease-in-out;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
