@import '././../../styles/variables';
.content {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  .header {
    width: 100vw;
    height: 20%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
  }
  .mainContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('./bola-compass.png');
    background-repeat: no-repeat;
    background-size: contain;
    .texts {
      align-items: flex-end;
      padding: 9%;
      .firstBigText {
        font-family: $primary-font;
        font-style: normal;
        font-weight: 800;
        font-size: 1.6rem;
        text-align: right;
        color: #c12d18;
      }
      .smallText {
        font-family: $primary-font;
        font-style: normal;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 30px;
        text-align: right;
      }
      .bigText {
        font-family: $primary-font;
        font-style: normal;
        font-weight: 900;
        font-size: 2.3rem;
        text-align: right;
        color: #c12d18;
      }
    }
    .footer {
      background: linear-gradient(90.16deg, #33383d 0%, #1c1d20 100%);
      width: 100%;
      height: 100%;
      max-height: 50%;
      max-width: 100%;
      padding-left: 7%;
      display: flex;
      .footerDesc {
        font-family: $primary-font;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        text-align: right;
        color: #ffffff;
        width: 40%;
        margin-right: 2%;
        align-items: flex-end;
        padding-top: 2%;
      }
      .refreshDesc {
        font-family: $primary-font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;

        color: #ffffff;
        width: 5%;
        padding-left: 8%;
        padding-right: 3%;
        padding-top: 2%;
      }
      .timerSeconds {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 5%;
        max-width: 5%;
        .bigNumber {
          font-family: $primary-font;
          font-style: normal;
          font-weight: 600;
          font-size: 48px;
          line-height: 61px;
          text-align: center;
          color: #ffffff;
        }
        .secondsDesc {
          font-family: $primary-font;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          text-align: left;
          color: #ffffff;
          margin-right: 5%;
        }
      }
      .btnsArea {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .continueBtn {
          height: 100%;
          background-color: white;
          width: 20%;
          min-width: 30%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          h3 {
            color: #c13216;
            font-family: $primary-font;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            text-align: center;
          }
        }
        .logoutBtn {
          height: 100%;
          align-items: flex-end;
          width: 20%;
          min-width: 30%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          cursor: pointer;
          h3 {
            color: #ffffff;
            font-family: $primary-font;
            font-weight: 700;
          }
        }
      }
    }
  }
}
