@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
.content {
  display: flex;
  flex-direction: column;
}
.content .seilaa {
  margin-left: 22%;
  height: 1.3rem;
  min-width: 1.3rem;
  margin-bottom: -1%;
}
.content .emailUsedStyle {
  color: #b58b1b;
  padding-right: 40%;
  font-family: "Quicksand", sans-serif;
  -webkit-animation: bounceIn 0.5s ease-in-out;
          animation: bounceIn 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.content .loginTitle {
  width: 301px;
  height: 52px;
  left: 287px;
  top: 290px;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 20px;
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 11.5%;
  color: #e0e0e0;
}
.content .inputArea {
  display: flex;
  flex-direction: row;
  margin-left: 22%;
}
.content .inputArea img {
  width: 15px;
  height: 15px;
  margin: auto;
  margin-left: 3%;
}
.content .inputArea .userIcoHide {
  margin-left: -5%;
  -webkit-animation: fadeIn 0.5s ease-in-out;
          animation: fadeIn 0.5s ease-in-out;
  margin-left: -5.8%;
}
@-webkit-keyframes fadeIn {
  from {
    margin-left: 3%;
  }
  to {
    margin-left: -5.8%;
  }
}
@keyframes fadeIn {
  from {
    margin-left: 3%;
  }
  to {
    margin-left: -5.8%;
  }
}
@media (max-width: 1025px) {
  .content .inputArea .userIcoHide {
    -webkit-animation: fadeIn 0.5s ease-in-out;
            animation: fadeIn 0.5s ease-in-out;
    margin-left: -7.8%;
  }
  @-webkit-keyframes fadeIn {
    from {
      margin-left: 3%;
    }
    to {
      margin-left: -7.8%;
    }
  }
  @keyframes fadeIn {
    from {
      margin-left: 3%;
    }
    to {
      margin-left: -7.8%;
    }
  }
}
.content .inputArea .passwordIco {
  margin-top: 6.8%;
}
@media (max-width: 1025px) {
  .content .inputArea .passwordIco {
    margin-top: 8.2%;
  }
}
.content .inputArea .passwordIcoHide {
  margin-left: -5%;
  margin-top: 6.8%;
  -webkit-animation: fadeIn 0.5s ease-in-out;
          animation: fadeIn 0.5s ease-in-out;
  margin-left: -5.8%;
}
@keyframes fadeIn {
  from {
    margin-left: 3%;
  }
  to {
    margin-left: -5.8%;
  }
}
@media (max-width: 1025px) {
  .content .inputArea .passwordIcoHide {
    margin-top: 8.2%;
    -webkit-animation: fadeIn 0.5s ease-in-out;
            animation: fadeIn 0.5s ease-in-out;
    margin-left: -7.8%;
  }
  @-webkit-keyframes fadeIn {
    from {
      margin-left: 3%;
    }
    to {
      margin-left: -7.8%;
    }
  }
  @keyframes fadeIn {
    from {
      margin-left: 3%;
    }
    to {
      margin-left: -7.8%;
    }
  }
}
.content .inputUser {
  width: 60%;
  height: 2.8rem;
  background: #26292c;
  border: 1px solid #ffffff;
  border-radius: 50px;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #e0e0e0;
  padding-left: 2%;
}
.content .inputUser::-moz-placeholder {
  color: #e0e0e0;
  opacity: 0.6;
}
.content .inputUser:-ms-input-placeholder {
  color: #e0e0e0;
  opacity: 0.6;
}
.content .inputUser::placeholder {
  color: #e0e0e0;
  opacity: 0.6;
}
@media (max-width: 1025px) {
  .content .inputUser {
    padding-left: 3%;
  }
}
.content .inputUserError {
  width: 60%;
  height: 2.8rem;
  background: #26292c;
  border: 1px solid #ffffff;
  border-radius: 50px;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #e0e0e0;
  padding-left: 2%;
  -webkit-animation: errorAnimations 0.3s ease-in-out;
          animation: errorAnimations 0.3s ease-in-out;
  border-color: #e9b425;
  border-color: #e9b425;
}
.content .inputUserError::-moz-placeholder {
  color: #e0e0e0;
  opacity: 0.6;
}
.content .inputUserError:-ms-input-placeholder {
  color: #e0e0e0;
  opacity: 0.6;
}
.content .inputUserError::placeholder {
  color: #e0e0e0;
  opacity: 0.6;
}
@media (max-width: 1025px) {
  .content .inputUserError {
    padding-left: 3%;
  }
}
@-webkit-keyframes errorAnimations {
  from {
    border-color: white;
  }
  to {
    border-color: #e9b425;
  }
}
@keyframes errorAnimations {
  from {
    border-color: white;
  }
  to {
    border-color: #e9b425;
  }
}
.content .inputPassword {
  width: 60%;
  height: 2.8rem;
  background: #26292c;
  border: 1px solid #ffffff;
  border-radius: 50px;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #e0e0e0;
  padding-left: 2%;
  margin-top: 4%;
}
.content .inputPassword::-moz-placeholder {
  color: #e0e0e0;
  opacity: 0.6;
}
.content .inputPassword:-ms-input-placeholder {
  color: #e0e0e0;
  opacity: 0.6;
}
.content .inputPassword::placeholder {
  color: #e0e0e0;
  opacity: 0.6;
}
@media (max-width: 1025px) {
  .content .inputPassword {
    padding-left: 3%;
  }
}
.content .inputPasswordError {
  width: 60%;
  height: 2.8rem;
  background: #26292c;
  border: 1px solid #ffffff;
  border-radius: 50px;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #e0e0e0;
  padding-left: 2%;
  margin-top: 4%;
  border-color: #e9b425;
  -webkit-animation: errorAnimations 0.3s ease-in-out;
          animation: errorAnimations 0.3s ease-in-out;
  border-color: #e9b425;
}
.content .inputPasswordError::-moz-placeholder {
  color: #e0e0e0;
  opacity: 0.6;
}
.content .inputPasswordError:-ms-input-placeholder {
  color: #e0e0e0;
  opacity: 0.6;
}
.content .inputPasswordError::placeholder {
  color: #e0e0e0;
  opacity: 0.6;
}
@media (max-width: 1025px) {
  .content .inputPasswordError {
    padding-left: 3%;
  }
}
@keyframes errorAnimations {
  from {
    border-color: white;
  }
  to {
    border-color: #e9b425;
  }
}
.content .errorBox {
  height: 70px;
}
.content .errorBox .errorArea {
  width: 40%;
  padding-left: 22%;
  margin-right: 22%;
  text-align: center;
  margin-top: 3.5%;
  margin-bottom: 1%;
  -webkit-animation: errorAnimation 0.7s ease-in-out;
          animation: errorAnimation 0.7s ease-in-out;
}
@-webkit-keyframes errorAnimation {
  from {
    opacity: 0;
    margin-top: -2.5%;
  }
  to {
    margin-top: 3.5%;
    opacity: 1;
  }
}
@keyframes errorAnimation {
  from {
    opacity: 0;
    margin-top: -2.5%;
  }
  to {
    margin-top: 3.5%;
    opacity: 1;
  }
}
.content .errorBox .errorArea .lenghtErrorArea {
  display: flex;
  margin-bottom: 3%;
  margin-top: -3%;
}
.content .errorBox .errorArea .lowerCaseArea {
  display: flex;
  margin-bottom: 3%;
}
.content .errorBox .errorArea .upperCaseArea {
  display: flex;
  margin-bottom: 3%;
}
.content .errorBox .errorArea .numberArea {
  display: flex;
}
.content .errorBox .errorArea .icoErrorLenght {
  margin-right: 4%;
  max-width: 7%;
  max-height: 7%;
  margin-top: -1%;
}
.content .errorBox .errorArea .errorLenght {
  color: white;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  align-items: center;
  vertical-align: middle;
}
.content .errorBox .errorArea .errorLowerCase {
  color: white;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  align-items: center;
  vertical-align: middle;
}
.content .errorBox .errorArea .errorUpperCase {
  color: white;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  align-items: center;
  vertical-align: middle;
}
.content .errorBox .errorArea .errorNumber {
  color: white;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  vertical-align: middle;
}
.content .button {
  width: 50%;
  height: 7vh;
  background: linear-gradient(90deg, #ff2d04 0%, #c13216 100%);
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  font-family: "Quicksand", sans-serif;
  color: #e0e0e0;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 23px;
  margin-left: 22%;
  margin-top: 8%;
  cursor: pointer;
  position: relative;
  border: none;
  border: 1px solid #e73d1b;
  box-sizing: border-box;
}
.content .button:hover {
  background: linear-gradient(90deg, #ea5436 0%, #e9310c 100%);
}
.content .loginRedirect {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  color: white;
  padding-left: 28%;
  padding-right: 36%;
  padding-top: 2%;
  text-align: center;
}
.content .loginRedirect .link {
  text-decoration: none;
  color: #e9b425;
  cursor: pointer;
}
.content .loginRedirect .link:hover {
  color: #b58b1b;
}/*# sourceMappingURL=Form.module.css.map */