@import '../../../styles/mixins';
@import '../../../styles/variables';
.content {
  display: flex;
  flex-direction: column;
  .loginTitle {
    width: 301px;
    height: 52px;
    left: 287px;
    top: 290px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 20px;
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 11.5%;
    color: #e0e0e0;
  }
  .inputArea {
    display: flex;
    flex-direction: row;
    margin-left: $margin-sides;
    img {
      width: 15px;
      height: 15px;
      margin: auto;
      margin-left: 3%;
    }
    .userIcoHide {
      margin-left: -5%;
      animation: fadeIn 0.5s ease-in-out;
      @keyframes fadeIn {
        from {
          margin-left: 3%;
        }
        to {
          margin-left: -5.8%;
        }
      }
      margin-left: -5.8%;
      @media (max-width: 1025px) {
        animation: fadeIn 0.5s ease-in-out;
        @keyframes fadeIn {
          from {
            margin-left: 3%;
          }
          to {
            margin-left: -7.8%;
          }
        }
        margin-left: -7.8%;
      }
    }
    .passwordIco {
      margin-top: 6.8%;
      @media (max-width: 1025px) {
        margin-top: 8.2%;
      }
    }
    .passwordIcoHide {
      margin-left: -5%;
      margin-top: 6.8%;
      animation: fadeIn 0.5s ease-in-out;
      @keyframes fadeIn {
        from {
          margin-left: 3%;
        }
        to {
          margin-left: -5.8%;
        }
      }
      margin-left: -5.8%;

      // if the width of the screen is less than 1025px
      @media (max-width: 1025px) {
        margin-top: 8.2%;
        animation: fadeIn 0.5s ease-in-out;
        @keyframes fadeIn {
          from {
            margin-left: 3%;
          }
          to {
            margin-left: -7.8%;
          }
        }
        margin-left: -7.8%;
      }
    }
  }

  .inputUser {
    @include input;
    @media (max-width: 1025px) {
      padding-left: 3%;
    }
  }
  .inputUserError {
    @include input;
    @media (max-width: 1025px) {
      padding-left: 3%;
    }
    animation: errorAnimations 0.3s ease-in-out;
    @keyframes errorAnimations {
      from {
        border-color: white;
      }
      to {
        border-color: #e9b425;
      }
    }
    border-color: #e9b425;

    border-color: #e9b425;
  }
  .inputPassword {
    @include input;
    margin-top: 4%;
    @media (max-width: 1025px) {
      padding-left: 3%;
    }
  }
  .inputPasswordError {
    @include input;
    @media (max-width: 1025px) {
      padding-left: 3%;
    }
    margin-top: 4%;
    border-color: #e9b425;
    animation: errorAnimations 0.3s ease-in-out;
    @keyframes errorAnimations {
      from {
        border-color: white;
      }
      to {
        border-color: #e9b425;
      }
    }
    border-color: #e9b425;
  }
  .errorBox {
    height: 70px;
    .errorArea {
      width: 40%;
      padding-left: 22%;
      margin-right: $margin-sides;
      text-align: center;
      margin-top: 3.5%;
      margin-bottom: 1%;
      animation: errorAnimation 0.7s ease-in-out;
      @keyframes errorAnimation {
        from {
          opacity: 0;
          margin-top: -2.5%;
        }
        to {
          margin-top: 3.5%;
          opacity: 1;
        }
      }
      .lenghtErrorArea {
        display: flex;
        margin-bottom: 3%;
        margin-top: -3%;
      }
      .lowerCaseArea {
        display: flex;
        margin-bottom: 3%;
      }
      .upperCaseArea {
        display: flex;
        margin-bottom: 3%;
      }
      .numberArea {
        display: flex;
      }

      .icoErrorLenght {
        margin-right: 4%;
        max-width: 7%;
        max-height: 7%;
        margin-top: -1%;
      }

      .errorLenght {
        color: white;
        font-size: 1rem;
        font-family: $primary-font;
        text-align: center;
        align-items: center;
        vertical-align: middle;
      }
      .errorLowerCase {
        color: white;
        font-size: 1rem;
        font-family: $primary-font;
        text-align: center;
        align-items: center;
        vertical-align: middle;
      }
      .errorUpperCase {
        color: white;
        font-size: 1rem;
        font-family: $primary-font;
        text-align: center;
        align-items: center;
        vertical-align: middle;
      }
      .errorNumber {
        color: white;
        font-size: 1rem;
        font-family: $primary-font;
        vertical-align: middle;
      }
    }
  }

  .button {
    width: 50%;
    height: 7vh;
    background: linear-gradient(90deg, #ff2d04 0%, #c13216 100%);
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    font-family: $primary-font;
    color: $primary-color;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
    margin-left: $margin-sides;
    margin-top: 8%;
    cursor: pointer;
    position: relative;
  }
  .button:hover {
    background: linear-gradient(90deg, #ea5436 0%, #e9310c 100%);
  }
  .loginRedirect {
    font-family: $primary-font;
    font-style: normal;
    color: white;
    padding-left: 28%;
    padding-right: 36%;
    padding-top: 2%;
    text-align: center;
    .link {
      text-decoration: none;
      color: #e9b425;
      cursor: pointer;
      &:hover {
        color: #b58b1b;
      }
    }
  }
}
