@import "../../../../styles/variables";

.content {
  display: flex;
  flex-direction: column;
  // make it to start from right
  align-items: flex-end;
  width: 100%;

  .city {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    text-align: center;
  }
  .temperature {
    display: flex;
    .cityTemp {
        
      font-family: $primary-font;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 61px;
      /* identical to box height */

      text-align: center;
    }
  }
}
