@import "../../../styles/mixins";
@import "../../../styles/variables";
.content {
  display: flex;
  flex-direction: column;
  .loginTitle {
    width: 301px;
    height: 52px;
    left: 287px;
    top: 290px;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 20px;
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 13%;
    color: #e0e0e0;
  }
  .inputArea {
    display: flex;
    flex-direction: row;
    margin-left: $margin-sides;
    img {
      width: 15px;
      height: 15px;
      margin: auto;
      margin-left: 4%;
    }
  }

  .inputUser {
    @include input;
  }
  .inputPassword {
    @include input;
    margin-top: 4%;
  }
  .errorArea {
    width: 40%;
    margin-left: $margin-sides;
    margin-right: $margin-sides;
    margin-top: 7%;
    text-align: center;
    .errorMessage {
      color: white;
      color: #e9b425;
      font-size: 16px;
      font-family: $primary-font;
      text-align: center;
      align-items: center;
      vertical-align: middle;
    }
  }

  .button {
    width: 37%;
    height: 7vh;
    background: linear-gradient(90deg, #ff2d04 0%, #c13216 100%);
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    font-family: $primary-font;
    color: $primary-color;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
    margin-left: $margin-sides;
    margin-top: 8%;
    cursor: pointer;
  }
}
